# Rust
/target/
/**/target/

# Node
/node_modules/
/**/node_modules/

# Logs / Secrets / Dev
*.log
.env*
deploy_key*
target/site/
.devcontainer/
server-setup/
fetch-tunnel-credentials.sh
setup-cloudflare-tunnel.sh
compose.dev.yaml

# Build artifacts
style.processed.css
/tmp/

# Editor / OS
.DS_Store
.idea/
.vscode/
